<!doctype html>
<html>
    <head>
    </head>
    <body style="margin:0">
        <div style="max-width:1000px;margin:0 auto">
            <p style="margin:20px;font-family: Arial"><a style="color: #FFAF7B" href="https://forms.gle/qGS4Y2Y37jkTAFP76">Happy holidays from TAP Deals! As a thank you for being a subscriber, click here to sign up for our raffle for a $50 gift card from Sporty's - enter by Dec 25!</a></p>
            <p style="margin:20px;font-family: Arial">Hello! We have <%= @items.count %> update<%= @items.count == 1 ? "" : "s" %> for you from TAP Deals:</p>
            <ul style="margin-left:40px;line-height:1.5em">
				<% @items.each do |item| %>
					<% if item.item_type == "pending_tweet" %>
						<li style="font-family: Arial"><b>Pending Tweet:</b> "<%= item.content["tweet"].split(" ").reject{|x| x.include?("http://") || x.include?("https://")}.join(" ")[0..-2] %>" - <a style="color: #FFAF7B" href="http://www.trade-a-plane.com<%= item.content["link"] %>">Link to Listing</a></li>
					<% elsif item.item_type == "search_result" %>
						<li style="font-family: Arial"><b>Search Result:</b> <a style="color: #FFAF7B" href="http://www.trade-a-plane.com<%= item.content["link"] %>"><%= item.content["text"] %></a></li>
							<ul>
								<li style="font-family: Arial">Price: 
									<% if item.content["price"].to_i == 0 %>
										Not Listed
									<% else %>
										$<%= item.content["price"].to_i.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>
									<% end %>
									<% if item.content["predicted_price"] > item.content["price"] %>
										Underpriced by
									<% else %>
										Overpriced by
									<% end %>
									<%= ((item.content["predicted_price"] / item.content["price"])-1).abs >= 0.3 ? "30%+" : ((item.content["predicted_price"] / item.content["price"])-1).abs.percent %>
								</li>
								<li style="font-family: Arial">Likelihood of similar aircraft in next 90 days: <%= item.content["predicted_stock"]["probability_of_stock_in_timeframe"].to_f.percent %></li>
								<li style="font-family: Arial">Likelihood of cheaper similar aircraft in next 90 days: <%= (item.content["predicted_stock"]["probability_of_stock_in_timeframe"]*item.content["actual_percentile"].to_f).percent %></li>
                <% if !item.content["future_trend"].nil? %>
                  <% if item.content["future_trend"]["error"].nil?%>
                    <li style="font-family: Arial"><b>NEW:</b> Predicted 90-day price trend for similar aircraft: <%= item.content["future_trend"]["future_value"].include?("-") ? "#{item.content["future_trend"]["future_value"]} decrease" : "#{item.content["future_trend"]["future_value"]} increase" %> ±<%= item.content["future_trend"]["future_error"] %></li>
                  <% else %>
                    <li style="font-family: Arial"><b>NEW:</b> Predicted 90-day price trend for similar aircraft: <%= item.content["future_trend"]["error"] %></li>
                  <% end %>
                <% end %>
							</ul>
							<br />
					<% end %>
				<% end %>
            </ul>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:1000px;background:#000;height:80px;border-top:0;">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-left:20px;color:#fff;font-size:10px;font-family: Arial">Thanks for using TAP Deals! Have a great day. Also! If you want to stop getting these, please visit the <a style="color: #FFAF7B"  href="http://tapdeals.cognitivesurpl.us/manage?subscription_id=<%= @subscription_id %>">manage alerts</a> page to unsubscribe.</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        <div>
    </body>
</html>